language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-19  ANDROID_ABI=armeabi-v7a

  components:
    - build-tools-19.0.3
    - extra-google-m2repository
    - extra-android-m2repository
    - android-16
    - sysimg-16
  licences:
    - android-sdk-license-bcbbd656
    - '.*intel.+'

before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - adb shell input keyevent 82 &

script:
    - ls
    - ./gradlew --stacktrace --debug -DANDROID_HOME=/usr/local/android-sdk/ -DabsolutePathLocalAPK="../londonWeather/build/outputs/apk/londonWeather-debug.apk" clean build test

