// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

slide_background = rgba(255,255,255,0.8)

.idea-background
  background-image: url('../images/idea.jpg')
  background-size: cover

.rainy-london
  background-image: url('../images/rainy-london.jpg')
  background-size: cover

.background-div{
    background-color: slide_background;
    padding: 20px;
    }

.size-dimension {
    width: 640px;
    text-align: left;
    font-size: 0.8em;
    }
.people-coding-background {
  background-image: url('../images/people-coding.JPG')
  background-size: cover
}
.richmond-food-background {
  background-image: url('../images/richmond-cakes.JPG')
  background-size: cover
}
.richmond-view {
  background-image: url('../images/richmond-view.JPG')
  background-size: cover
}

.baby-lego-background {
  background-image: url('../images/baby-lego.jpg')
  background-size: cover
}

.quality {
  background-image: url('../images/quality.jpg')
  background-size: cover
}

.queue {
  background-image: url('../images/queue.jpg')
  background-size: cover
}

.first-activity-background {
 background-image: url('../images/girasoli.jpg')
  background-size: cover
}

.second-activity-background {
 background-image: url('../images/girasoli.jpg')
  background-size: cover
}

.img-fit {
    max-width: 100%;
    max-height: 100%;
}

.img-small {
    max-width: 50%;
    max-height: 50%;
}

.sweets {
 background-image: url('../images/sweets.JPG')
  background-size: cover
}

.green {
  background-color: #339966
  background-size: cover
}

.nutella {
 background-image: url('../images/nutella.jpg')
  background-size: cover
}

.richmond-walk {
background-image: url('../images/richmond-walk.JPG')
  background-size: cover
}

.doughnuts {
background-image: url('../images/doughnuts.JPG')
  background-size: cover
}

.chef {
background-image: url('../images/chef.svg')
  background-size: cover
}

.rice-fields {
background-image: url('../images/rice-fields.JPG')
  background-size: cover
}

